@import "../../style/reset";
@import "../../style/global";
@import "../../style/vars";

.news{
    &__inner{
        margin: 66px 0 30px;
        display: flex;
    }
    &__box{
        width: 100%;
    }
}