@import "../../style/vars";

.news-regions{
    &__box{
        margin-bottom: 30px;
        display: flex;
        align-items: end;
        justify-content: space-between;
    }
    &__title{
        @extend %title; 
    }
    &__link{
        @extend %link;
    }
    &__items{
        grid-column-gap: 15px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    &__item-title{
        line-height: 140%;
        margin-bottom: 25px;
        font-size: 24px;
    }
    &__item{
        position: relative;
        padding: 15px 15px 60px;
        background: #fff;
        border-radius: 12px;
    }
    &__btn{
        position: absolute;
        bottom: 30px;
        @extend %btn-more-news;
    }
    .news-list{
        margin-bottom: 60px;
        &__item{
            &-descr{
                margin-bottom: 15px;
                padding-bottom: 15px;
            }
        }
        &__item:last-child{
            .news-list__item-descr{
                padding-bottom: 0;
                margin-bottom: 0;
                &::after{
                    display: none;
                }
            }      
        }
    }
}



