@import "../../style/vars";

.header-top{
    background: #fff;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 85px;
        font-size: 14px;
        color: $black;
    }   
    &__box{
        align-items: center;
        display: flex;
    }
    &__social-list{
        list-style-type: none;
        display: flex;
        margin-right: 80px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            right: -44px;
            top: 3px;
            width: 2px;
            height: 16px;
            background-color: #8A8A8A;
        }
    }
    &__social-item + &__social-item{
        margin-left: 30px;
    }
    &__social-item{
        height: 22px;
    }
    &__language-list{
        list-style-type: none;
        display: flex;
    }
    &__search{
        @extend %severs-400;
        border:none;
        background-color: #f6f6f6;
        padding: 10px 10px 10px 50px;
        max-height: 37px;
        max-width: 270px;
        border-radius: 68px;
        margin-right: 40px;
        &::placeholder{
            font-size: 14px;
            color: $gray;
        }
    }
    &__search-wrapper{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top: 10px;
            left: 16px;
            width: 16px;
            height: 16px;
            background-image: url(../../assets/search.svg);
        }
    }
    &__language-btn{
        border:none;
        background: none;
        text-transform: uppercase;
        text-align: center;
        transform: translateY(2px);
        cursor: pointer;
        color: $black;        
    }
    &__language-btn.active{
        color: $gray;
    }
}

.menu{
    align-items: center;
    display: flex;
    &__btn{
        width: 105px;
        height: 37px;
        border: none;
        margin-right: 40px;
        border-radius: 4px;
        padding: 8px 12px 8px 46px;
        position: relative;
        cursor: pointer;
        &::before{
            top: 13px;
            left: 12px;
            position: absolute;
            content: '';
            width: 18px;
            height: 8px;
            background-image: url(../../assets/burger-menu.svg);
        }
    }
    &__list{
        @extend %severs-600;
        list-style-type: none;
        display: flex;
    }
    &__list-item + &__list-item{
        margin-left: 30px;
    }
    &__list-link{
        color: $black;
        text-decoration: none;
    }
}

.header-bottom{
    @extend %severs-600;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 17px;
    &__inner{
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }   
    &__columns-list{
        display: flex;
    }
    &__columns-item + &__columns-item{
        margin-left: 40px;
    }
    &__columns-link.active{
        padding-left: 30px;
        color: $orange;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: -5px;
            width: 20px;
            height: 20px;
            background-image: url('../../assets/fire.svg');
        }
    }
    &__columns-link,
    &__columns-state{
        color: $blue;
        text-decoration: none;
    }
    &__columns-state{
        padding-left: 24px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 0px;
            width: 12px;
            height: 12px;
            background-image: url('../../assets/dot.svg');
        }
    }
}