@import 'vars';

html,
body {
    height: 100%;
}

.main {
    flex-grow: 1;
}

body {
    line-height: 140%;
    font-size: 16px;
    @extend %severs-500;
    color: $blue;
    background-color: $grayLight;
    display: flex;
    flex-direction: column;
    
}

body::-webkit-scrollbar {
    padding-left: 15px;
    border-radius: 20px; 
    width: 12px;               /* ширина всей полосы прокрутки */
}
  
body::-webkit-scrollbar {
    background: $grayLight;        /* цвет зоны отслеживания */
}
 
body::-webkit-scrollbar-thumb {
    background-color: $gray;    /* цвет бегунка */
    border-radius: 20px;       /* округлось бегунка */
    border: 1px solid $grayLight;  /* отступ вокруг бегунка */
}

.container {
    box-sizing: border-box;
    max-width: 1340px;
    padding: 0 15px;
    margin: 0 auto;
}


