@import 'vars';

html,
body {
    height: 100%;
}

.main {
    flex-grow: 1;
}

body {
    line-height: 140%;
    font-size: 16px;
    @extend %severs-500;
    color: $blue;
    background-color: $grayLight;
    display: flex;
    flex-direction: column;
    
}

body::-webkit-scrollbar {
    padding-left: 15px;
    border-radius: 20px; 
    width: 12px;               /* ширина всей полосы прокрутки */
}
  
body::-webkit-scrollbar {
    background: $grayLight;        /* цвет зоны отслеживания */
}
 
body::-webkit-scrollbar-thumb {
    background-color: $gray;    /* цвет бегунка */
    border-radius: 20px;       /* округлось бегунка */
    border: 1px solid $grayLight;  /* отступ вокруг бегунка */
}

.container {
    box-sizing: border-box;
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
}

.news-list{
    &__data{
        display: block;
        font-size: 12px;
        margin-bottom: 10px;
        color: $orange;
        @extend %severs-400;
    }
    &__item{
        position: relative;
        &-time{
            @extend %severs-400;
            margin-right: 5px;
            color: #707070;
        }
        &-descr{
            position: relative;
            display: block;
            margin-bottom: 25px;
            padding-bottom: 25px;
            color:inherit;
            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: #EBEBEB;
                height: 1px;
            }
        }
        
    }
}
