@import "./fotns";

$black: #2D2D2D;
$blue: #182840;
$primaryBlue: #121B30;
$gray: #B0B0B0;
$grayLight: #E8E8E8;
$orange: #FF7534;

%severs-400{
    font-family: "TTSevers-Regular";
    font-weight: 400;
}

%severs-500{
    font-family: "TTSevers-Medium";
    font-weight: 500;
}

%severs-600{
    font-family: "TTSevers-DemiBold";
    font-weight: 600;
}

%severs-700{
    font-family: "TTSevers-Bold";
    font-weight: 700;
}

%title{
    @extend %severs-700; 
    font-size: 32px;
    color:$black;
}

%link{
    @extend %severs-600; 
    color: $orange;
    font-size: 14px;
}

%date{
    font-size: 12px;
    @extend %severs-400;
    color: #707070;
}

%btn-more-news{
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 5px 50px 5px 0;
    position: relative;
    color: $blue;
    &::after{
        content: '';
        position: absolute;
        background-image: url('../assets/link-arrow.svg');
        width: 32px;
        height: 32px;
        top: 0;
        right: 0;       
    }
}