.slider{
    user-select:none;
    &__inner{
        position: relative;
    }
    &__items{
        position: relative;
    }
    &__item,
    &__item-img{
        height: 650px;
        min-width: 100%;
       
    }
    &__item{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            z-index: 0;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(180deg, rgba(21, 35, 56, 0.5) 0%, rgba(17, 29, 46, 0.24) 21.74%, rgba(17, 29, 46, 0.4) 62.16%, rgba(24, 40, 64, 0.9) 100%);
        }
    }
    &__item-img{
        object-fit: cover;
        object-position: center;
        
    }
    &__item-box{
        top: 240px;
        width: 100%;
        position: absolute;       
    }
    &__item-text{
        display: block;
        font-size: 40px;
        color: #fff;
        line-height: 120%;
        max-width: 752px;     
        min-height: 200px;
        position: relative;
        z-index: 1;
    }
    &__counter-box{
        z-index: 1;
        top: 465px;
        position: absolute;
        width: 100%;
        .container{
            display: flex;
            align-items: center;
        }
    }
    &__counter{
        color: #fff;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 6px;
        margin: 0 20px 0 25px;
        span{
            opacity: 0.5;
        }
    }
    .swiper-prev,
    .swiper-next{
        position: relative;
        width: 40px;
        height: 40px;
        &::before{
            content: '';
            top: 0;
            left: 0;
            position: absolute;
            width: 40px;
            height: 40px;
        }
    }
    .swiper-button-disabled{
        opacity: 0.4;
    }
    .swiper-prev::before{
        background-image: url('../../assets/arrow-prev.svg');
    }
    .swiper-next::before{
        background-image: url('../../assets/arrow-next.svg');
    }
}

.subslider{
    box-sizing: border-box;
    margin-top: -120px;
    &__item{
        box-sizing: border-box;
        padding: 10px;
        border-radius: 12px;
        display: flex;
        color: #fff;
    }
    &__item-img{
        width: 65px;
        height: 65px;
        object-fit: cover;
        object-position: center;
        border-radius: 5px;
        margin-right: 15px;       
    }
    &__item-text{
        color: #fff;
        line-height: 140%;
        font-size: 14px;
    }
    .swiper-slide {
        opacity: 0.7;
        background: rgba(255, 255, 255, 0.16);

        &-thumb-active {
            opacity: 1;
            background: rgba(255, 255, 255, 0.32);
        }
    }
}

